.team-wrapper {
  width: 50%;
  display: flex;
  margin: 0 auto;

}

.team-wrapper .team-image {
  width: 200px;
  padding: 20px;
}

.team-wrapper .team-image img {
  width: 100%;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}

.info-wrapper p {
  margin: 5px 0;
}